/* font-family: 'Dancing Script', cursive; 
font-family: 'Patrick Hand', cursive;
font-family: 'Rampart One', cursive;*/
*{
    margin: 0;
    padding: 0;
    /*font-family: fantasy;*/
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Patrick Hand', cursive;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
th{
    font-family: 'Rampart One', cursive;
}
table{
    text-align: justify;
    margin-left: 20px;
}
header{
    background-color: black;
    color: white;
    width: 100%;
}
/* .navbar navbar-inverse, container-fluid, navbar-header{
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 5px;
    border-radius: 5px;
    left: 0;
} */

.imgindex{
    width: 40%;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    padding: 5px;
}
i.fab{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin: 4px;
}
i.fab:hover{
    color: gray;
}
/*i.fa-twitter{
    color: rgb(106, 106, 250);
}
i.fa-facebook{
    background-color:transparent;
    color: rgb(40, 43, 231);
}
i.fa-instagram{
    background-color: transparent;
    color: white;
}
i.fa-pinterest{
    background-color:transparent;
    color: red;
}
i.fa-linkedin{
    background-color: transparent;
    color:blue;
}*/
/*FORMULARIO*/
label, input{
    font-size: 1.0vw;
    width: 70%;  
}
input[type-text], input[type=nombre], input[type=apellido], input[type-direccion], input[type=ciudad], input[type=date], input[type=codigopostal]{
    width: 80%;
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
    border: 1vw;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio]{
   display: block;  
}
input[type=checkbox]{
    display: block;
}

input[type=submit]{
    width: 100%;
    background-color: rgb(18, 161, 18);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgb(125, 201, 125);
}
.formulario{
    border-radius: 5px;
    background-color: rgb(211, 212, 212);
    padding: 2%;
    margin: 1% 20%;
}
textarea{
    width: 100%;
}

